.background {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/bgimage.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center;
}

.ctn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.ctn-content-login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30em;
    height: 35em;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: rgba(48, 48, 48, 0.80);
}