.background {
    width: 100%;
    height: 100vh;
    background-image: url('../../assets/bgimage.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center;
}

.ctn-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.ctn-content-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30em;
    height: 35em;
    border-radius: 8px;
    border: 1px solid #FFF;
    background: rgba(48, 48, 48, 0.80);
}

.opc-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.opc-login span {
    color: #FFF;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.icon-login {
    padding-top: .5em;
    padding-bottom: .5em;
}

.icon-login img {
    padding-right: .5em;
}

.textfield-login {
    display: flex;
    flex-direction: column;
}

.textfield-login input {
    border-radius: 8px;
    border: 1px solid #FFF;
    background: rgba(217, 217, 217, 0.00);
    padding: 1em;
    width: 20em;
    margin-bottom: 1em;
}

.btn-entrar button{
    border-radius: 8px;
    border: 1px solid #FFF;
    background: #303030;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: .5em;
    width: 10em;
    cursor: pointer;
    margin-bottom: 1em;
}

.btn-entrar button:hover {
    background-color: transparent;
}

.link-signup {
    color: white;
    font-weight: 200;
}