/* Reset CSS */

/* Box-sizing border-box em todos os elementos */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Remova as margens e preenchimentos padrão */
body, h1, h2, h3, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
  padding: 0;
}

/* Remova estilos de lista */
ul, ol {
  list-style: none;
}

/* Remova decoração de link padrão */
a {
  text-decoration: none;
}

/* Defina font-size base e corpo para uma experiência de leitura mais consistente */
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/* Opcional: Defina estilos de link padrão */
a {
  color: #007bff; /* Azul padrão do link */
}

/* Opcional: Remova sublinhado de links quando estiverem passando o mouse */
a:hover {
  text-decoration: underline;
}